body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Forum', cursive;
    font-family: 'Inter', sans-serif;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
  }
  .main {
    margin-bottom: auto;
    background-color: #ffffff;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
  }
  .header {
    background-color: #0c0c0e;
  }
  .header-container {
    display: flex;
    width: 1440px;
      height: 90px;
    /*justify-content: space-between;
      align-items: center;
      margin: 0 auto;*/
  }
 .header-text {
    margin: 20px 0px 20px 20px;
    color: #fff;
    font-family: Forum;
    font-style: normal;
    width: 324px; /*mandatory*/
    font-size: 30px;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
  }
  .inner-header-container {
    width: 1058px;
    height: 90px;
  }
.nav-menu {
    display: inline-flex;
    width: 584px;
    height: 20px;
    list-style: none;
    font-weight: 400;
    padding: 20px 0px 20px 454px;
    justify-content: space-between; /*- одинаковые расстояния между соседними элементами, 
    между элементами и краями флекс-контейнера нет отступов.*/
    align-items: center;
    /*gap: 30px;*/
}
.nav-link {
  position: relative;
  line-height: 50px; /* 250% */
  font-family: Inter;
  font-style: normal;
  font-size: 20px;
  color: #fff;
  cursor: pointer
}
.nav-menu-item a {
  text-decoration: none;
  transition: color 0.5s;
}
.nav-menu-item a:hover {
  /*border-radius: 2px;
  border: 1px solid #BB945F;  
  background: #BB945F;*/
  color: #BB945F;
}
.profile-icon-container {
  /*no specific style is defined here*/
}
.profile-icon {
  margin: 31px 20px 31px 40px;
}  
.section-welcome {
  width: 1440px;
  height: 600px;
  background: url(/library/img/Welcome_bg.jpg) 50%/cover no-repeat;
  z-index: 2;
}
.welcome-text-container {
  margin-top: -110px;
  display: flex;
  width: 600px;
  height: 220px;
  background-color: #0C0C0E;
  z-index: 2;
}
.welcome-text {
  margin: 35px 40px 35px 40px;
  width: 520px;
  height: 150px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  z-index: 2;
}
.gradient-overlay {
  width: 1440px;
  height: 300px;
  flex-shrink: 0;
  background: linear-gradient(180deg,#0C0C0E 0%,#0C0C0E 0.01%,rgba(18,18,21,0.10) 100%);
  z-index: -1; /* Negative value to lower the priority */
}
h1 {
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline;
}
h2 {
  color: 0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  display: inline; /*must be used, otherwise the title's position will be adjusted by the browser*/
}
.section-about {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 837px;
  background-color: #FFF;
}
.section-title {
  display: block;
  margin: 20px auto 0 auto;
  height: 61px;
}
.title-underline {
  margin: 0 auto;
  height: 20px;
  width: 50px;
  border-bottom: 1px solid #0C0C0E;
}
.section-about-text {
  margin-top: 40px;
  width: 1440px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}
.about-slider {
  display: flex;
  gap: 25px;
  width: 1400px;
  height: 560px;
}
.slider-item {
 width: 450px;
 height: 560px;
 flex-shrink: 0;
}
.slider-pagination-container {
  width: 68px;
  height: 16px;
  margin: 40px auto;
}
.pagination-block {
  width: 68px;
  height: 16px;
}
.section-favorites {
  display: flex;
  flex-direction: column; /*must have*/
  width: 1440px;
  height: 1439px;
  background-color: #a09c9fe8;
}
.favorites-box {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 1439px; 
  background: #FFF;
  align-items: center;
}
.season-picker-title {
  display: inline;
  margin-top: 40px;
  margin-left: 20px;
  width: 240px;
  height: 24px;
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.season-picker-block {
  display: flex;
  align-items: center;
  width: 700px;
  height: 24px;
  flex-shrink: 0;
  background-color: #22b3c9b4;
  margin-top: 20px;
  margin-left: 20px;
}
.radio-button {
  width: 37px;
  height: 17px;
  background-color: rgb(201, 236, 59)
}
.selected-season {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.non-selected-season {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.splitter-box {
  width: 90px;
  height: 24px;
  background-color: #FFF;
}
/* Styles for Favorites section */
.favorites-container {  
  display: flex;
  flex-wrap: wrap;  
  gap: 40px 220px;
  width: 1400px;
  height: 1150px; /*1439px*/
  margin: 40px 20px; 
  background-color: #e073e1;
}
.favorites-book-block {  
  flex-shrink: 0;
  width: 590px;
  height: 555px;
  background-color: #FFF;
}
.favorites-book-frame {
  flex-shrink: 0;
  position: relative;
  height: 555px;
  width: 550px;
  border: 1px solid #000;
}
.favorites-picks-container {
  margin-top: 15px;
  margin-left: 20px;
  width: 104px;
  height: 40px;
}
 .favorites-picks-title {  /* Staff Picks*/
  display: inline;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.favorites-picks-underline {
  background-color: #BB945F;
  height: 1px;
  width: 60px;
}
.favorites-book-caption {
  margin-top: 20px;
  margin-left: 20px;
  width: 355px;
  height: 80px;
}
.favorites-book-name {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.favorites-book-author {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.favorites-book-description {
  margin-top: 20px;
  margin-left: 20px;
  width: 355px;
  /*height: 320px;*/ /*Description's height is not the same for different books*/
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.favorites-buy-button {    
  flex-shrink: 0;       
  position: absolute;
  width: 75px;
  height: 30px;    
  bottom: 15px;
  left: 20px;  
  border-radius: 2px;
  border: 1px solid #0C0C0E;    
  color: #0C0C0E;
  cursor: pointer;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}
.favorites-buy-button:hover {
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
  transition: 0.5s;
}
.favorites-own-button {    
  flex-shrink: 0;    
  position: absolute;
  width: 75px;
  height: 30px;    
  bottom: 15px;
  left: 20px;    
  border-radius: 2px;
  border: 1px solid #BB945F;
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 10px;    
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;    
  line-height: normal;
}
/*---- Own button must be non-interactive for now -----*/
/*
.favorites-own-button:hover {
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background:#0C0C0E;
}
*/
.favorites-book-cover {  
  flex-shrink: 0;  
  position: absolute;
  width: 200px;
  height: 300px;
  /* background: url, margin-left and margin-top are defined individually for each book in index.html using styles */
}
/* end of Favorites styles*/
.section-shop {
  display: flex;
  flex-direction: column; /*must have*/
  width: 1440px;
  height: 841px;
  align-items: center;
  background-color: gold;
}
.section-shop-text-container {
  display: flex;
  justify-content: center;
  width: 1400px;
  height: 120px;
  margin: 40px;
  background-color: aliceblue;
  /*text-transform: capitalize;*/
  /*пока не понимаю,какой смысл всё капитализировать, а потом переводить в нижний регистр предложения
   и в верхний их первые буквы!?*/
}
.section-shop-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: lowercase;
}
.section-shop-text-capital {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgb(112, 211, 235);
}
.section-shop-menu-container {
  display: flex;
  margin: 40px 20px;
  width: 1400px;
  height: 520px;
  column-gap: 480px;
}
.coffee-tea-area {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px; /*межстрочный отступ между позициями в меню*/
  width: 438px;
  height: 520px;
  background-color: #FFF;
}
.shop-menu-section-title {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  background-color: #d6eff5c5;
}
.coffee-tea-menu-item {
  display: flex;
  gap: 59px; /* must be 60px as per layout in Figma, but not enough to put the name*/
  width: 438px;
  height: 40px;
  background-color: #e9c0eab5;
}
.menu-item-text {
  display: inline;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #000;
  background-color: #e073e1;
}
.menu-item-line {
  width: 100px;
  height: 1px;  
  margin-top: 20px;
  background: #BB945F; 
}
.menu-item-price {
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;  
  color: #000;
}
.desserts-area {
  display: flex;
  width: 482px;
  height: 520px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 40px; /*межстрочный отступ между позициями в меню*/
  background-color: #FFF;
}
.desserts-menu-item {  
  display: flex;
  text-align: right;
  width: 482px;
  height: 40px;
  gap: 60px;
  background-color: #e9c0eab5;
}
.section-contacts {
  display: flex;
  flex-direction: column; /*must have*/
  align-items: center;
  width: 1440px;
  height: 575px;
  background-color: rgb(180, 238, 198);
}
.section-contacts-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 199px;
  width: 1400px;
  height: 515px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #e073e1;
  display: flex;
}
.section-contacts-info {
  width: 505px; /* 503px is not enough to fit the text*/
  height: 380px;
  background-color: antiquewhite;
}
.section-contacts-info-cap-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.section-contacts-info-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.section-contacts-map {
  width: 696px;
  height: 414px;
  background: url(./img/map.png), lightgray 50% / cover no-repeat;
}
.section-lib-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 614px;
  background-color: #fff;
}
.section-lib-card-container {
  display: flex;
  gap: 344px;
  margin: 40px 20px;
  width: 1400px;
  height: 453px;
}
.find-card-block {  
  width: 600px;
  height: 453px;
  background-color: #227bc9;
}
.find-card-caption {
  text-align: center;
  width: 600px;
  height: 36px;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px; 
}
.get-card-block {
  display: flex;
  height: 453px;
  background-color: #09ed094f;
}
.get-card-auth {
  width: 456px;
  height: 253px;
  background-color: #f08686;
}
.get-card-auth-caption {
  height: 33px;
  color: #000;
  text-align: right;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.find-card-form-frame {
  width: 595px;
  height: 381px;
  margin-top: 30px;
  flex-shrink: 0;
  border: 3px solid #BB945F;
}
.find-card-form {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 560px;
  height: 272px;  
  margin: 17px 17px 0px 17px;
  background: #BB945F;
}
.find-card-lib-name {
  width: 294px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  color: #000;
}
.find-card-input {
  width: 520px;
  height: 66px;
  margin-top: 20px;
  margin-left: 17px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px; 
}
.submit-button {
  display: inline;
  padding: 10px 40px;
  margin: 20px 176px 30px 176px; /*179px до краёв формы с обеих сторон, но толщина рамки - 3 px*/
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  color: #0C0C0E;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color:#FFF;
}
.submit-button:hover {  
  transition: 0.5s;
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
  /*подумать, оставить ли такую же интерактивность, как у кнопки Buy, или что-то изменить*/
}
.get-card-auth-text {
  width: 456px;
  height: 120px;
  margin-top: 35px;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
}
.get-card-auth-buttons-block {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
  gap: 20px;
  width: 456px;
  height: 30px;
}
.auth-button {
  display: flex;
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;  
  color: #0C0C0E;
  border-radius: 2px;
  border: 1px solid #0C0C0E;  
  background-color:#FFF;
}
.auth-button:hover {
  transition: 0.5s;
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
}
footer {
  background: #0C0C0E;
}
.footer-container {
  height: 250px;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: aqua;
}
.footer-top-block {
  display: flex;
  width: 1400px;
  height: 40px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1022px;
  flex-shrink: 0;
  background-color: hotpink;
}
.footer-top-left-block {
  width: 229px;
  height: 40px;
  justify-content: center;
  background-color: #227bc9;
}
.footer-top-right-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 149px;
  height: 40px;
  background-color: olivedrab;
}
.footer-middle-right-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 149px;
  height: 40px;  
  padding-right: 1px;
  background-color: rgb(78, 198, 239);
}
.working-hours {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
.address {
width: 229px;
flex-shrink: 0;
color: #FFF;
text-decoration: none;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 133.333% */
}
/*разнести верхний и мидл блоки на 10 px */
.footer-middle-block {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  height: 40px;
  align-items: center;
  gap: 1147px;
  background-color: rgb(60, 78, 95);
}
.footer-middle-left-block {
  display: flex;
}
.social-media-icons {
  display: flex;
  gap: 15px;
  padding-left: 1px;  
  list-style: none;
}
.footer-bottom-block {
  display: flex;
  width: 1400px;
  height: 110px;
  align-items: center;
  border-top: #FFF 1px solid;
  background-color: #e073e1;
  justify-content: space-between;
 /* разобраться с отступом от мидл блока на 30px - переделать*/
}
.year {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
}
/*используем один стиль вместо rss-name и username, т.к. параметры одинаковые*/
.rss-name-username {  
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-decoration: none;
}
